---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

const entries = Astro.props.entries;
---

{
  entries.length === 0 && (
    <p class="text-center ">No entries to show for this category...</p>
  )
}

<ul class="grid grid-cols-1 sm:grid-cols-2 gap-16 max-w-4xl mx-auto">
  {
    entries.map((entry, index) => (
      <li class="h-full">
        <a href={`/projects/${entry.slug}`}>
          <div class="flex flex-col gap-2 ">
            <div class="relative">
              <Image
                transition:name={`image-${entry.data.title}`}
                src={entry.data.image.src}
                alt={entry.data.image.alt}
                sizes="(max-width: 800px) 100vw, 800px"
                loading={index <= 2 ? "eager" : "lazy"}
                decoding={index <= 2 ? "sync" : "async"}
                class="w-full rounded-md border hover:shadow-lg transition-all duration-500 hover:scale-[102%] hover:rotate-1"
                height={1080}
                width={1920}
                quality={40}
              />
              {entry.data.featured && (
                <div class="flex text-sm bg-yellow-500 text-white px-1 py-1 rounded-md absolute z-50 top-2 left-2 shadow-sm">
                  <Icon class="w-5 h-5" name="ic:round-star" /> featured
                </div>
              )}
            </div>

            <div class="flex flex-col gap-6">
              <div>
                <span
                  transition:name={entry.data.title + entry.data.category}
                  class="text-blue-400 uppercase tracking-wider text-xs font-medium">
                  {entry.data.category}
                </span>
                <h2
                  transition:name={entry.data.title}
                  class="text-3xl font-bold leading-snug tracking-tight mt-1 ">
                  {entry.data.title}
                </h2>
              </div>
            </div>
          </div>
        </a>
        <div class="mt-4 mb-6 ">
          <span
            transition:name={entry.data.snippet}
            class="text-gray-400 line-clamp-2">
            {entry.data.snippet}
          </span>
        </div>
        <div class="flex gap-2 mt-3 ">
          {entry.data.links.github && (
            <Link
              transition:name={`github-${entry.data.links.github}`}
              target="_blank"
              class="text-sm flex gap-2 items-center"
              style="primary"
              size="sm"
              href={entry.data.links.github}>
              <Icon class="w-6 h-6" name="bx:bxl-github" />
              repo
            </Link>
          )}
          {entry.data.links.demo && (
            <Link
              transition:name={`demo-${entry.data.links.demo}`}
              target="_blank"
              class="text-sm flex gap-2 items-center"
              href={entry.data.links.demo}
              style="outline"
              size="sm">
              <Icon class="w-4 h-4" name="simple-icons:vercel" />
              live site
            </Link>
          )}
          {entry.data.links.behance &&
            (!entry.data.links.github || !entry.data.links.demo) && (
              <Link
                href={entry.data.links.behance}
                transition:name={`behance-${entry.data.links.behance}`}
                target="_blank"
                class="text-sm flex gap-2 items-center"
                style="outline"
                size="sm">
                <Icon class="w-4 h-4" name="ri:behance-fill" />
                Behance Project
              </Link>
            )}
        </div>
      </li>
    ))
  }
</ul>
