---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PortfolioEntries from "@components/portfolio-entries.astro";
import Link from "@components/ui/link.astro";

//export const prerender = true; //in SSR mode allows searchParams

let search = Astro.url.searchParams.get("search")! || "";

// Filter portfolio entries with 'draft: false' & date before current date
const publishedPortfolioEntries = await getCollection(
  "portfolio",
  ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  },
);

function filterByCategory(entries, category) {
  if (category === "") return entries;
  if (category === "Featured")
    return entries.filter((entry) => entry.data.featured);
  return entries.filter((entry) => {
    return entry.data.category === category;
  });
}

// Sort content entries by publication date
publishedPortfolioEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

const description =
  "Welcome to my blog, where I write about my coding journey as an ever-learning full-stack developer & entrepreneur!";

const astro = Astro.url;

const categories = [
  "",
  "Featured",
  "Full-stack App",
  "UI/UX Design",
  "E-Commerce Store",
  "Static Site",
];
---

<Layout
  title="Portfolio"
  openGraphImage={publishedPortfolioEntries[0].data.image.src}
  description={description}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Projects</Fragment>
      <Fragment slot="desc">
        {description}
      </Fragment>
    </Sectionhead>
    <main class="mt-16 flex flex-col gap-6">
      <div class="flex flex-col gap-4">
        <div class="flex gap-2 justify-center flex-wrap">
          {
            categories.map((category) => {
              if (category === "Featured") {
                return (
                  <Link
                    href={`/projects/?search=${category}`}
                    size="sm"
                    style="subtle"
                    isActive={search === category && true}>
                    {category}
                  </Link>
                );
              }
              return (
                <Link
                  href={
                    category === ""
                      ? "/projects"
                      : `/projects/?search=${category}`
                  }
                  size="sm"
                  style="subtle"
                  isActive={search === category && true}>
                  {category === "" ? "All" : category}
                </Link>
              );
            })
          }
        </div>
      </div>
      <PortfolioEntries
        entries={filterByCategory(publishedPortfolioEntries, search)}
      />
    </main>
  </Container>
</Layout>
